<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-secondary">
    <!-- header() -->
    <div th:insert="~{commons/template::header}"></div>

    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
                <a class="btn btn-success btn-lg" th:href="@{/player}">
                    <h1 class="display-3">Listado de Jugadores</h1>
                </a>
            </div>
            <div class="col">
                <a class="btn btn-success btn-lg" th:href="@{/card/builder}">
                    <h1 class="display-3">Generador de Cartones</h1>
                </a>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>