<div th:fragment="header">
    <nav class="navbar border-bottom border-body bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand text-success" th:href="@{/home}">Bingo</a>
            <form class="d-flex" role="search">
                <a class="btn btn-outline-success me-2" th:href="@{/players}">Jugadores</a>
                <a class="btn btn-outline-success" th:href="@{/cards}">Cartones</a>
            </form>
        </div>
    </nav>
</div>

<!-- color -->
<style th:inline="css" th:fragment="styleColor">
    .primaryColor-border {
        border-color: rgb([[${color.primaryRGB[0]}]],[[${color.primaryRGB[1]}]],[[${color.primaryRGB[2]}]]);
        border-style: solid;
        border-width: medium;
    }
    .primaryColor-text {
        color: rgb([[${color.primaryRGB[0]}]],[[${color.primaryRGB[1]}]],[[${color.primaryRGB[2]}]]);
    }
    .primaryColor-background {
        background-color: rgb([[${color.primaryRGB[0]}]],[[${color.primaryRGB[1]}]],[[${color.primaryRGB[2]}]]);
    }
    .secondaryColor-border {
        border-color: rgb([[${color.secondaryRGB[0]}]],[[${color.secondaryRGB[1]}]],[[${color.secondaryRGB[2]}]]);
        border-style: solid;
        border-width: medium;
    }
    .secondaryColor-background {
        background-color: rgb([[${color.secondaryRGB[0]}]],[[${color.secondaryRGB[1]}]],[[${color.secondaryRGB[2]}]]);
    }
</style>

<!-- colors -->
<style th:inline="css" th:each="color:${colors}" th:fragment="styleColors">
    .[['primaryColor_' + ${color.id}]] {
        background-color: rgb(
            [[${color.primaryRGB[0]}]],
            [[${color.primaryRGB[1]}]],
            [[${color.primaryRGB[2]}]]
        );
    }
    .[['secondaryColor_' + ${color.id}]] {
        background-color: rgb(
            [[${color.secondaryRGB[0]}]],
            [[${color.secondaryRGB[1]}]],
            [[${color.secondaryRGB[2]}]]
        );
    }
</style>
