<div th:fragment="header">
    <nav class="navbar border-bottom border-body bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand text-success" th:href="@{/home}">Bingo</a>
            <form class="d-flex" role="search">
                <a class="btn btn-outline-success me-2" th:href="@{/player}">Listado de Jugadores</a>
                <a class="btn btn-outline-success" th:href="@{/card/builder}">Generador de Cartones</a>
            </form>
        </div>
    </nav>
</div>
