<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- list(players) -->
<table th:fragment="list" class="table align-middle caption-top">
    <caption>
        <p class="h1 text-center text-black">Jugadores</p>
    </caption>
    <thead class="table-success">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr th:each="player:${players}">
            <th scope="row">
                <a th:href="@{/player/{id} (id = ${player.id})}" th:text="${player.id}"
                   class=" text-success link-underline link-underline-opacity-0"></a>
            </th>
            <td>
                <a th:href="@{/player/{id} (id = ${player.id})}" th:text="${player.name}"
                   class="link-offset-2 link-underline link-underline-opacity-0 text-black"></a>
            </td>
        </tr>
    </tbody>
</table>

<!-- view(player) -->
<div th:fragment="view" class="card text-bg-dark mb-3 text-center" style="max-width: 18rem;">
    <div class="card-header">
        <h1 class="text-success">Jugador</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title" th:text="${player.name}"></h5>
        <p class="card-text">ID: <span th:text="${player.id}"></span></p>
    </div>
</div>

<!-- cards(cards) -->
<div th:fragment="cards">
    <div class="row mb-2" th:each="card:${cards}">
        <div class="col-1">
            <a th:href="@{/card/{id} (id = ${card.id})}" class="text-success link-underline link-underline-opacity-0 ">
                <span class="badge text-bg-success fs-3 mt-3" th:text="${card.id}"></span>
            </a>
        </div>
        <div class="col-1"></div>
        <div class="col-10">
            <div th:insert="~{cards/template::view}"></div>
        </div>
    </div>
</div>

</html>